body {
    font-family: "Rosario";
    margin: 20px;
    background-image: url("./img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;   
    background-color: antiquewhite;
}

.recipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

#search-form {
    display: flex;
    outline: none; 
    height: 50px;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 30px;
    position: relative;
}

#search-form input {
    outline: none;
    width: 30vw;
    border-radius: 30px;
    border: none;
    padding: 15px;
    font-size: 16px;
}

#search-button {
    border-radius: 30px;
    border-color: rgb(9, 9, 28);
    height: 50px;
    width: 100px;
    background-color: rgba(132, 188, 132, 0.712);
    cursor: pointer;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    margin-left: 5px;
}

#results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.recipe-item {
    padding: 10px;
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #333333;
    background-color: transparent;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);

}

.recipe-item img{
    max-width: 100%;
    height: auto;
}

.recipe-item a {
    color: maroon;
    text-decoration: none;
}

#recipe-details {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
    margin-top: 20px;
    width: 60vw;
    background-color: rgb(132, 188, 132);
}

#recipe-content {
    padding: 20px;
    height: 70vh;
    overflow-y: auto;
    text-align: center;
}

#recipe-content p,
#recipe-content li {
    text-align: left;
}

#recipe-content::-webkit-scrollbar {
    width: 12px;
}

#recipe-content::-webkit-scrollbar-thumb {
    background-color: #5b5656;
    border-radius: 10px;
}

#recipe-content::-webkit-scrollbar-track {
    background: #9a9797;
    border-radius: 5px;
}

#recipe-content::-webkit-scrollbar-thumb:hover {
    background: #696868;
}

#statusBar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(9, 9, 28);
    height: 2vh;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#close-button {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.favorite-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.favorite-icon:hover {
    color: red;

}

#favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

#suggestions-container {
    position: absolute;
    width: 100%; 
    max-width: 30vw;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 999px) {
    .recipe-item {
        width: 170px;
    }
}

@media (max-width: 600px) {
    .recipe-item {
        width: 150px;
    }
}

